.timing-day {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 180px;

        & h2 {
            text-align: center;
            margin-bottom: 200px;
            color: #333;
        }

    }
}

// .vertical-line {
//     width: 2px;
//     height: 1000px;
//     background-color: rgb(19, 19, 19);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
// }

// .segment {
//     height: 250px;
//     width: 2px;
//     background-color: rgb(19, 19, 19);
//     position: relative;
// }

// .dot {
//     // width: 10px;
//     // height: 10px;
//     // background-color: rgb(19, 19, 19);
//     // border-radius: 50%;
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
//     width: 10px;
//     height: 10px;
//     background-color: black;
//     border-radius: 50%;
//     position: relative;
// }

.vertical-line {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vertical-line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1000px;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);
}

.segment {
    display: flex;
    align-items: center;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 20px;
    z-index: 1;
    /* Space between dot and icon/text */
}

.icon,
.text {
    position: absolute;
}

.text {
    & > h3 {
        width: 132px;
        text-transform: uppercase;
        font-size: 15px;
    }
}

.icon {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    left: -140px;
    top: 10px;
    transform: translateY(-50%);

    &__img {
        width: 100px;
    }
}

// .text {
//     width: 130px;
//     right: -135px;

//     /* Adjust this value based on text length */
//     & time {
//         text-align: center;
//     }

//     & h3 {
//         font-size: 20px;
//         text-align: center;
//     }

//     & p {
//         font-size: 12px;
//         text-align: center;
//     }
// }

.text {
    width: 130px;
    /* Adjust this value as needed */
    position: absolute;
    right: -135px;
    /* Adjust this value as needed */
    top: -30px;
    // transform: translateY(-50%);
    text-align: center;

    p,
    h3 {
        margin: 0;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}