---
import './style.scss';
---

<!-- <div class="segment"><div class="dot"></div></div>
    <div class="segment"><div class="dot"></div></div>
    <div class="segment"><div class="dot"></div></div>
    <div class="segment"><div class="dot"></div></div>
    <div class="segment"><div class="dot"></div></div> -->
<section class="timing-day">
  <!-- <h2>Программа дня</h2> -->
  <!-- <div class="timing-day__container">
    <div class="vertical-line">
    
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <p class="welcome__text">Будем рады видеть вас на нашем празднике!</p> -->
  <div class="timing-day__container">
    <h2>Программа дня</h2>

    <div class="vertical-line">
      <div class="segment">
        <div class="icon">
          <img src="/icons/1.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p>16:30</p>
          <h3>Сбор гостей</h3>
          <p>
            Собираясь на <br /> мероприятие, <br /> захватите с собой ваши улыбки
            <br /> и превоходное настроение
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="/icons/3.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p>17:00</p>
          <h3>Начало мероприятия</h3>
          <p>Время веселиться и поздравлять молодоженов !</p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="/icons/4.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p>18:00</p>
          <h3>Начало банкета</h3>
          <p>
            Время вкусной еды,<br /> танцев и развлечений
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="/icons/5.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p>21:30</p>
          <h3>СВАДЕБНЫЙ ТОРТ</h3>
          <p>
            Сладкая традиция,<br /> которую мы не можем обойти стороной
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="/icons/2.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p>23:00</p>
          <h3>ОКОНЧАНИЕ ВЕЧЕРА</h3>
          <p>К сожалению, даже такой прекрасный вечер может закончиться</p>
        </div>
      </div>
    </div>
  </div>
</section>
